input[type="color"] {
    -webkit-appearance: none;
    border-radius: 8px;
    padding: 4px;
    margin: 0;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 4px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 6px;
}