
.custom-layout .react-colorful {
    width: auto;
}

.custom-layout .react-colorful__saturation {
    margin: 0 0 6px 0;
    border-bottom: none;
    width: auto;
    border-radius: 4px;
}

.custom-layout .react-colorful__hue {
    order: 0;
}

.custom-layout .react-colorful__hue::before {
    order: 0;
    content: 'Hue';
    display: block;
    position: absolute;
    top: 0;
    left: -48px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(113 113 122);
}

.custom-layout .react-colorful__alpha::before {
    order: 0;
    content: 'Alpha';
    display: block;
    position: absolute;
    top: 0;
    left: -48px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(113 113 122);
}

.custom-layout .react-colorful__hue,
.custom-layout .react-colorful__alpha {
    height: 16px;
    border-radius: 4px;
    margin: 4px 0;
    margin-left: 64px;
    margin-top: 4px;
}

.custom-layout .react-colorful__hue-pointer,
.custom-layout .react-colorful__alpha-pointer {
    width: 20px;
    height: 20px;
    
}

.custom-layout .react-colorful__saturation-pointer {
    height: 12px;
    width: 12px;
    border-radius: 99px;
    border-width: 1px;
    cursor: pointer;
}

.custom-layout .react-colorful__hue-pointer,
.custom-layout .react-colorful__alpha-pointer {
    width: 12px;
    border-radius: 2px;
    border-width: 1px;
    cursor: pointer;
}

.custon-layout input::before {
    display: block;
    position: absolute;
    font-weight: 600;
}